JOOMLA_IMAGE=joomla:latest
JOOMLA_HTTP_PORT=8080
PHPMYADMIN_HTTP_PORT=8081

JOOMLA_DB_NAME=joomla
JOOMLA_DB_USER=joomla
JOOMLA_DB_PASSWORD=joomla
JOOMLA_DB_ROOT_PASSWORD=root

JOOMLA_SITE_NAME=Balancirk Test
JOOMLA_ADMIN_USERNAME=admin
JOOMLA_ADMIN_PASSWORD=changeMe123!
JOOMLA_ADMIN_EMAIL=admin@example.com
