	/.DS_Store
/com_helloworld
/com_helloworld.zip
/joomla
/.vscode/balancirk.code-snippets
/com_balancirk.zip
/boilertemplate
com_balancirk.zip
.Makefile.swp
1.2.tar.gz
1.2.zip
com_balancirk.zip
.DS_Store
