<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="basic"
		label="Basic Options"
		description="Basic Options">
		<field name="email_subject_subscription"
			type="text"
			label="COM_BALANCIRK_EMAIL_SUBJECT_SUBSCRIPTION_LABEL"
			description="COM_BALANCIRK_EMAIL_TEMPLATE_DESCRIPTION"
			default="Inschrijving les &quot;{lesson_name}&quot;"
			filter="raw" />
		<field name="email_body_subscription"
			type="textarea"
			label="COM_BALANCIRK_EMAIL_BODY_SUBSCRIPTION_LABEL"
			description="COM_BALANCIRK_EMAIL_TEMPLATE_DESCRIPTION"
			rows="10"
			default="Hallo {member_firstname},&#10;&#10;Bedankt voor de inschrijving van {student_firstname} voor &quot;{lesson_name}&quot;.&#10;&#10;De lessenreeks start op {lesson_start_date}.&#10;&#10;{invoice_hint}&#10;&#10;Met vriendelijke groeten,&#10;&#10;Het Balancirk team"
			filter="raw" />
		<field name="email_subject_waitinglist"
			type="text"
			label="COM_BALANCIRK_EMAIL_SUBJECT_WAITINGLIST_LABEL"
			description="COM_BALANCIRK_EMAIL_TEMPLATE_DESCRIPTION"
			default="Inschrijving les &quot;{lesson_name}&quot; - wachtlijst"
			filter="raw" />
		<field name="email_body_waitinglist"
			type="textarea"
			label="COM_BALANCIRK_EMAIL_BODY_WAITINGLIST_LABEL"
			description="COM_BALANCIRK_EMAIL_TEMPLATE_DESCRIPTION"
			rows="10"
			default="Hallo {member_firstname},&#10;&#10;Bedankt voor de inschrijving van {student_firstname} voor &quot;{lesson_name}&quot;.&#10;&#10;Deze inschrijving staat momenteel op de wachtlijst.&#10;&#10;{invoice_hint}&#10;&#10;Met vriendelijke groeten,&#10;&#10;Het Balancirk team"
			filter="raw" />
	</fieldset>
	<fieldset name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_balancirk"
			section="component" />
	</fieldset>
	<fieldset name="advanced"
		label="Advanced Options"
		description="Advanced Options">
		<field name="redirect_url"
			type="menuitem"
			label="COM_BALANCIRK_REGISTRATION_REDIRECT_URL_LABEL"
			description="COM_BALANCIRK_REGISTRATION_REDIRECT_URL_DESCRIPTION"
			required="false"
			menu_type="hiddenMenu" />
		<field name="mutuality_options"
			type="textarea"
			label="COM_BALANCIRK_MUTUALITY_OPTIONS_LABEL"
			description="COM_BALANCIRK_MUTUALITY_OPTIONS_DESCRIPTION"
			default="CM&#10;Solidaris&#10;Helan&#10;VNZ"
			rows="6"
			filter="raw" />
		<field name="school_year_offset_months"
			type="number"
			label="COM_BALANCIRK_SCHOOL_YEAR_OFFSET_MONTHS_LABEL"
			description="COM_BALANCIRK_SCHOOL_YEAR_OFFSET_MONTHS_DESCRIPTION"
			default="6"
			min="0"
			max="12"
			step="1"
			filter="integer" />
	</fieldset>
</config>
